.profileImgCircle {
  width: 70px;
  height: 70px;
  position: absolute;
  border: 3px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#fff, #fff), 
  linear-gradient(to right, red 0%,  orange 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  z-index: -1;
  top: -3px;
  left: -3px;
}

.profileImgText {
  font-size: 0.75rem;
  color: rgb(176, 176, 176);
  max-width: 68px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}